* {
  cursor: url(../icons/cursor_icon_v2_light.png), default;
}

body {
  color: #000000;
  background-color: #eeeeee;
}

a,
a:hover {
  color: #00adb5;
}

.copyright {
  color: #393e46;
}

.progress-custom,
.navbar-custom {
  background-color: #393e46;
}

.theme-toggler {
  color: #fff;
}

.profile-icons {
  color: #393e46;
}

.profile-icons:hover {
  color: #00adb5;
}

.timeline::after {
  background-color: #393e46;
}

.timeline-container::after {
  background-color: #eeeeee;
  border: 4px solid #393e46;
}

.timeline-left::before {
  border: medium solid #393e46;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #393e46;
}

.timeline-right::before {
  border: medium solid #393e46;
  border-width: 10px 10px 10px 0;
  border-color: transparent #393e46 transparent transparent;
}

.timeline-content {
  background-color: #eeeeee;
  border: 6px solid #393e46;
}

@media screen and (max-width: 600px) {
  .timeline-container::before {
    border: medium solid #393e46;
    border-width: 10px 10px 10px 0;
    border-color: transparent #393e46 transparent transparent;
  }
}
